<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>Recycled</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<style>
		body{
			/*background-color: #AEDD6E;*/
       		background: url('/images/blurred-background.jpg') no-repeat center center fixed; 
       		background-size: cover;
			height:100%;
			margin:0;
			padding:0;
			color:white;
		}
		.lead {
			color:white;
		}
		table tr td, table tr th{
			background-color: rgba(255,255,255, 0.1) !important;
		}
				
		</style>
	</head>
	<body>
	  <nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Summit Recycled<small> beta</small></a>
	    <ul class="nav navbar-nav">
	    </ul>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="active"><a href="/">Leaderboard</a></li>
	      	<li><a href="/user">My Stats</a></li>
	    </ul>
	  </div>
	</nav>
    <div class="container">
	    <div class="main-view">
			{% if topplayers.count() == 0 %}
				<center><p class="lead">No Recyclers</p></center>
				<hr>
			{% else %}
			<table class="table table-condensed table-bordered">	
			<tr>
				<th>Recycler</th>
				<th>Points</th>
			</tr>
			{% for player in topplayers %}
			<tr>
				<td class="active">{{player.name|replace("@mysummitps.org","")|replace("@summitsanjose.org","")|replace("@gmail.com","")}}</td>
				<td class="active">{{player.points}}</td>
			</tr>
			{% endfor %}
			{% endif %}	
			</table>
		</div>
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>

</html>
{% endautoescape %}